.business_agreement {
  background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0.81) 0%,
      rgba(95, 178, 39, 0.81) 131.44%
    ),
    url('../images/business-agreement.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
.business_agreement .agreement_wrapper {
  max-width: 1059px;
  width: 96%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}
.business_agreement .agreement_wrapper form {
  width: 100% !important;
}
.business_agreement .agreement_wrapper .arrow {
  top: 2.8rem;
  left: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.business_agreement .agreement_wrapper .arrow:hover {
  transform: scale(1.4);
}
.business_agreement .agreement_wrapper .agreement_steps .step {
  min-width: 69.42px;
  min-height: 14px;
  background: #d9d9d9;
  border-radius: 40.8333px;
  margin: 0 0.3rem;
}
.business_agreement .agreement_wrapper .agreement_steps .step.step_one {
  background: #5fb227;
}
.business_agreement .agreement_wrapper .step_wrapper {
  padding: 0 10rem;
}
.business_agreement .agreement_wrapper .step_wrapper h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #313131;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.business_agreement .agreement_wrapper .step_wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #313131;
}
.business_agreement .agreement_wrapper .form-group label {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  align-items: left;
  float: left;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.business_agreement .agreement_wrapper .form-group input {
  margin-top: 0.5rem;
  background: transparent;
  opacity: 0.85;
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 14px 17px;
}
.business_agreement .agreement_wrapper .form-group textarea {
  opacity: 0.85;
  border: 1px solid #313131;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.business_agreement .agreement_wrapper a.next {
  margin-bottom: 2rem;
  cursor: pointer;
}

.business_agreement .agreement_wrapper .step_wrapper .inner-content > p {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.business_agreement
  .agreement_wrapper
  .step_wrapper
  .inner-content
  .launch
  input {
  margin-top: 0;
  margin-right: 1.5rem;
}

.business_agreement
  .agreement_wrapper
  .step_wrapper
  .inner-content
  .launch
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 55px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #5fb227;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 10px;
  border: none;
  margin-right: 1rem;
}

.business_agreement .agreement_wrapper .step_wrapper h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.business_agreement .agreement_wrapper .step_wrapper .inner-content p.text {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 21px !important;
}
.business_agreement .agreement_wrapper .step_wrapper .inner-content p.invite {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 1rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.business_agreement .agreement_wrapper .step_wrapper .emplate label {
  margin-right: 2rem;
}
.business_agreement .agreement_wrapper .step_wrapper .emplate input {
  margin-top: 0;
}
.third .pinfo p,
.third .pinfo h2 {
  text-align: left !important;
}
.third .pinfo p {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

/* input radio css  */
/* input radio css  */
/* input radio css  */

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #5fb227;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.finish_step .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.finish_step .content h1.finished {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
.finish_step .content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-top: 2rem;
}
.finish_step .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.finish_step .content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 2rem 0;
  margin-bottom: 3rem;
}

.secound_step,
.third_step {
  display: none !important;
}
.stephide {
  display: none !important;
}
.stepshow {
  display: flex !important;
}

@media (max-width: 768px) {
  .business_agreement .agreement_wrapper .step_wrapper {
    padding: 1rem !important;
  }
  .business_agreement .agreement_wrapper .agreement_steps .step {
    min-width: 40.42px;
    min-height: 10px;
  }
  .business_agreement .agreement_wrapper .arrow {
    top: 2.4rem;
    left: 2rem;
  }
  .business_agreement .agreement_wrapper .step_wrapper {
    padding: 0 !important;
    margin-top: 1rem;
  }
  .business_agreement .agreement_wrapper .step_wrapper h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .business_agreement .agreement_wrapper .form-group label {
    font-size: 16px;
  }
  .business_agreement .agreement_wrapper .form-group input {
    padding: 10px;
  }

  .finish_step .content h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .box {
    padding: 2rem;
  }
  .finish_step > img {
    width: 5rem;
  }
  .finish_step .content h1.finished {
    font-size: 20px;
    line-height: 34px;
  }
  .finish_step .content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .finish_step .arrow {
    left: 2rem;
  }
}
